/* AdminProductPage.css */

.Product-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .Heading1 {
    padding: 20px;
  }
  
  .Heading1 h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .page-title1 {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .page-title1 .select {
    font-weight: bold;
    color: #000;
  }
  
  .page-content2 {
    display: flex;
    padding: 0px;
  }
  
  .sidebar2 {
    width: 200px;
    padding: 10px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    
  }
  
  .menu-item {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #333;
  }
  
  .menu-item:hover {
    background-color: #ddd;
  }
  
  .table-controls2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }
  
  .table-selection2 {
    display: flex;
    gap: 10px;
  }
  
  .table-selection2 button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .table-selection2 button:hover {
    background-color: #0056b3;
  }
  
  .table-filters2 {
    display: flex;
    gap: 10px;
  }
  
  .table-filters2 select,
  .table-filters2 input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 20px;
    margin-top: 110px;
  }
  
  .table-filters2 button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .table-filters2 button:hover {
    background-color: #0056b3;
  }
  
  
  .Table1 {
    width: 100%;
    padding: 20px;
  }
  
  .table-section2 {
    width: 100%;
  }
  
  .table-section2 p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #007bff;
    color: white;
  }
  
  thead th {
    padding: 10px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .pagination2 {
    display: flex;
    justify-content: right;
    gap: 5px;
  }
  
  .pagination2 button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .pagination2 button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .pagination2 button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .pnumber {
    display: flex;
    align-items: center;
  }
  
  .abc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  