.shop-anytime1 {
    flex: 1;
    position: relative;
    letter-spacing: 0.1em;
    line-height: 30.5px;
    flex-shrink: 0;
  }
  .anytime-shop {
    width: 279.6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xl) var(--padding-6xs) 4.6px var(--padding-7xl);
    box-sizing: border-box;
    z-index: 1;
  }
  .gift-bliss1 {
    text-decoration: none;
    position: absolute;
    margin: 0 !important;
    top: 97.1px;
    left: 98.4px;
    font-size: var(--font-size-17xl-2);
    font-family: var(--font-wellfleet);
    color: inherit;
    display: inline-block;
  }
  .your-password-has {
    height: 106px;
    flex: 1;
    position: relative;
    line-height: 130%;
    font-weight: 100;
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .frame-container,
  .your-password-has-been-success-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .your-password-has-been-success-wrapper {
    flex: 1;
    padding: 0 var(--padding-35xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-container {
    width: 947px;
    max-width: 114%;
    flex-shrink: 0;
  }
  .frame-wrapper {
    height: 55px;
    width: 834px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
  }
  .confirmation-copy-inner,
  .frame-wrapper,
  .your-password-has1 {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .confirmation-copy-inner {
    height: calc(100% - 57.4px);
    margin: 0 !important;
    position: absolute;
    width: calc(100% - 284.6px);
    top: 28.7px;
    right: 142.3px;
    bottom: 28.7px;
    left: 142.3px;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-8xl) 0;
    box-sizing: border-box;
    z-index: 1;
  }
  .your-password-has1 {
    height: 106px;
    flex: 1;
    position: relative;
    line-height: 130%;
    font-weight: 100;
  }
  .your-password-has-been-success-container {
    flex: 1;
    flex-direction: row;
    padding: 0 var(--padding-35xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-div,
  .frame-wrapper1,
  .your-password-has-been-success-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-wrapper1 {
    width: 947px;
    flex-direction: row;
    max-width: 114%;
    flex-shrink: 0;
  }
  .frame-div {
    height: 55px;
    width: 834px;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .confirmation-copy,
  .confirmation-copy-child {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .confirmation-copy-child {
    height: 55px;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8xl) var(--padding-xl) var(--padding-8xl) 0;
    box-sizing: border-box;
    z-index: 3;
  }
  .confirmation-copy {
    width: 1118.6px;
    margin: 0 !important;
    position: absolute;
    top: 582.3px;
    left: 103.4px;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 112px;
    text-align: left;
    font-size: var(--font-size-16xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .forgot-password-inner {
    width: 26.2px;
    height: 97.5px;
    display: none;
    z-index: 4;
  }
  .confirm-button-shape {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-lightsteelblue);
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .confirm {
    position: absolute;
    top: 22.5px;
    left: 129.7px;
    line-height: 130%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 766.3px;
    height: 93px;
    z-index: 1;
  }
  .confirm-button-shape-parent {
    height: 136.4px;
    flex: 1;
    position: relative;
    max-width: 100%;
  }
  .confirm-button,
  .forgot-password1 {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: var(--color-black);
  }
  .confirm-button {
    width: 1149.7px;
    flex-direction: row;
    padding: 0 52px;
    max-width: 100%;
    font-size: var(--font-size-26xl);
    font-family: var(--font-inter);
  }
  .forgot-password1 {
    width: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    overflow: hidden;
    flex-direction: column;
    padding: 112px var(--padding-mid) 453px var(--padding-31xl);
    gap: 211.3px;
    line-height: normal;
    letter-spacing: normal;
    font-size: var(--font-size-5xl-8);
    font-family: var(--font-ibm-plex-serif);
  }
  @media screen and (max-width: 750px) {
    .gift-bliss1 {
      font-size: var(--font-size-10xl);
    }
    .your-password-has,
    .your-password-has1 {
      font-size: var(--font-size-9xl);
      line-height: 36px;
    }
    .confirm {
      font-size: var(--font-size-17xl);
      line-height: 47px;
    }
  }
  @media screen and (max-width: 675px) {
    .forgot-password1 {
      gap: 106px;
      padding-left: var(--padding-6xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .shop-anytime1 {
      font-size: var(--font-size-xl);
      line-height: 24px;
    }
    .gift-bliss1 {
      font-size: var(--font-size-3xl);
    }
    .your-password-has,
    .your-password-has1 {
      font-size: var(--font-size-2xl);
      line-height: 27px;
    }
    .confirm {
      font-size: var(--font-size-8xl);
      line-height: 35px;
    }
    .forgot-password1 {
      gap: 53px;
    }
  }
