:root {
    --padding-3xs: 5px;
    --font-ibm-plex-serif: 'IBM Plex Serif', serif;
    --font-inter: 'Inter', sans-serif;
    --font-wellfleet: 'Wellfleet', cursive;
    --color-black: #000; /* Define color-black */
    /* Add other custom properties if needed */
  }
  
  .gift-bliss {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  .gift-bliss-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
  }
  .shop-anytime {
    margin-left: -15.5px;
    flex: 1;
    position: relative;
    letter-spacing: 0.1em;
  }
  .shop-anytime-wrapper {
    margin-top: -2.6px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 7px 25.1px 0;
  }
  .frame-wrapper {
    align-self: stretch;
    height: 58.5px;
    flex-direction: row;
    padding: 0;
    flex-shrink: 0;
    font-size: 24.8px;
    font-family: var(--font-ibm-plex-serif);
  }
  .forgot-password-inner,
  .frame-parent,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .frame-parent {
    height: 107.3px;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    padding: 9.1px 15px 53.2px 38px;
  }
  .forgot-password-inner {
    width: 306.6px;
    flex-direction: row;
    padding: 0 0 27.9px;
  }
  .frame-child {
    width: 82.2px;
    height: 52.2px;
    position: relative;
    border-radius: 3px;
    object-fit: contain;
    cursor: pointer;
    z-index: 1;
  }
  .create-a-new,
  .set-a-new {
    position: relative;
    line-height: 130%;
    display: inline-block;
    max-width: 100%;
  }
  .set-a-new {
    width: 644.1px;
    height: -2.6px;
    font-weight: 500;
    flex-shrink: 0;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .create-a-new {
    flex: 1;
    font-weight: 100;
    z-index: 1;
  }
  .create-a-new-password-ensure-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-3xs);
    box-sizing: border-box;
    font-size: 35px;
    color: var(--color-black);
  }
  .create-a-new-password-ensure-wrapper,
  .frame-container,
  .set-a-new-password-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .set-a-new-password-parent {
    width: 995.3px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 75.2px;
  }
  .frame-container {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
  }
  .forgot-password-child,
  .vector-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .vector-parent {
    flex: 1;
    flex-direction: column;
    gap: 25.5px;
  }
  .forgot-password-child {
    width: 1078.2px;
    flex-direction: row;
    padding: 0 14px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-26xl);
    color: #0c0c0c;
    font-family: var(--font-inter);
  }
  .forgot-password-item {
    width: 26.5px;
    height: 70.6px;
    display: none;
  }
  .password,
  .password1,
  .password2 {
    position: relative;
    line-height: 130%;
    font-weight: 600;
  }
  .password1,
  .password2 {
    z-index: 1;
  }
  .password2 {
    z-index: 2;
  }
  .password-group,
  .password2 {
    margin-left: -214px;
  }
  .frame-wrapper1,
  .password-group,
  .password-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper1 {
    padding: 0 var(--padding-3xs);
  }
  .frame-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-silver);
  }
  .frame-div {
    align-self: stretch;
    height: 212.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-28xl);
  }
  .frame-inner {
    height: 84.7px;
    width: 26.5px;
    display: none;
  }
  .frame-wrapper3 {
    height: 84.7px;
    width: 26.5px;
    margin: 0 !important;
    position: absolute;
    bottom: -16.7px;
    left: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .confirm-password {
    position: relative;
    line-height: 130%;
    font-weight: 600;
    white-space: pre-wrap;
    z-index: 1;
  }
  .frame-parent2,
  .frame-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent2 {
    position: relative;
  }
  .frame-wrapper2 {
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  .frame-child1,
  .rectangle-div,
  .rectangle-parent {
    border-radius: var(--br-3xs);
    background-color: var(--color-silver);
  }
  .frame-child1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .rectangle-parent {
    align-self: stretch;
    height: 107.5px;
    position: relative;
  }
  .frame-parent1 {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-28xl);
  }
  .frame-group,
  .frame-parent1,
  .frame-section {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    width: 1057.6px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 86px;
  }
  .frame-section {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 11px 153.6px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-26xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .frame-child2 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0.4px;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: rgba(197, 213, 236, 0.82);
    cursor: pointer;
  }
  .rectangle-group,
  .update-password {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
  }
  .update-password {
    height: 67.3px;
    width: 775.3px;
    line-height: 130%;
    font-weight: 500;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
  }
  .rectangle-group {
    width: 1058px;
    flex-direction: row;
    align-items: flex-start;
    padding: 16.3px 20px 15.2px 60px;
    box-sizing: border-box;
  }
  .forgot-password,
  .forgot-password-inner1 {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: var(--color-black);
  }
  .forgot-password-inner1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 27px;
    max-width: 100%;
    font-size: var(--font-size-26xl);
    font-family: var(--font-inter);
  }
  .forgot-password {
    width: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: 1px solid var(--color-black);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 66px 50px 105px;
    gap: 110.1px;
    line-height: normal;
    letter-spacing: normal;
    font-size: 36.2px;
    font-family: var(--font-wellfleet);
  }
  
  @media screen and (max-width: 1050px) {
    .frame-group {
      gap: 43px;
    }
  }
  @media screen and (max-width: 1000px) {
    .gift-bliss {
      font-size: 29px;
    }
    .set-a-new {
      font-size: var(--font-size-17xl);
      line-height: 47px;
    }
    .create-a-new {
      font-size: 28px;
      line-height: 36px;
    }
    .set-a-new-password-parent {
      gap: 38px;
    }
    .confirm-password,
    .password,
    .password1,
    .password2,
    .update-password {
      font-size: var(--font-size-17xl);
      line-height: 47px;
    }
    .rectangle-group {
      padding-left: 30px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 725px) {
    .set-a-new-password-parent {
      gap: 19px;
    }
    .frame-div,
    .frame-parent1 {
      gap: var(--gap-4xl);
    }
    .frame-group {
      gap: 21px;
    }
    .frame-section {
      padding-bottom: 100px;
      box-sizing: border-box;
    }
    .forgot-password {
      gap: 55px;
      padding-left: var(--padding-6xl);
      padding-right: var(--padding-6xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .gift-bliss {
      font-size: 22px;
    }
    .shop-anytime {
      font-size: 20px;
    }
    .set-a-new {
      font-size: var(--font-size-8xl);
      line-height: 35px;
    }
    .create-a-new {
      font-size: 21px;
      line-height: 27px;
    }
    .confirm-password,
    .password,
    .password1,
    .password2,
    .update-password {
      font-size: var(--font-size-8xl);
      line-height: 35px;
    }
    .forgot-password {
      gap: 28px;
    }
  }
