.container {
    display: flex;
    width: 900px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
  }
  
  .welcome-section {
    background-color: #e0e7ff;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-section h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .welcome-section p {
    margin: 10px 0;
    text-align: center;
  }

.login-section {
    background-color: #fff;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.login-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    margin-bottom: 5px;
}

.login-section input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-section button {
    padding: 10px;
    font-size: 1em;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-section button:hover {
    background-color: #357ab8;
}

.links {
    margin-top: 10px;
    text-align: center;
}

.links a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.links a:hover {
    text-decoration: underline;
}

.links .sign-up span {
    font-weight: bold;
    color: blue;
}
