.personal-details {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #f8f8f8;
  width: 100%; /* Ensure the header spans the full width */
  padding: 20px 0; /* Add padding to the header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for separation */
}

.content-wrapper {
  display: flex;
  flex-grow: 1; /* Allow content-wrapper to grow and take up available space */
  padding: 50px;
   /* Add margin between header and footer */
  background-color: #ffffff;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust width to fill the remaining space */
}

.left-side {
  flex: 1;
  max-width: 250px;
  /*background-color: #f0f0f0;*/
  padding: 20px;
  margin-right: 20px; /* Add space between left and right sides */
  
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: calc(100vh - 65px); /* Adjust height to fill space between header and footer */
  position: sticky;
  top: 50px; /* Adjust top based on header height */
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-item {
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 16px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 10px;
 /* background-color: #0056b3; /* Add background color */
  border-radius: 10px;
  text-align: center;
}

.action-item:hover {
  background-color: #0056b3;
}

.right-side {
  flex: 2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align content vertically in the middle */
  align-items: center; /* Align content horizontally in the middle */
  background-color: #f0f0f0;
  max-width: 600px;
  margin: 0 auto; /* Center the right-side content horizontally */
}


.info-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: -20%;
  border-radius: 50px;
  border-width: 50px;
  border-color: #007bff;
  
  
}

.personal-info {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  background-color: #f8f8f8;
  padding: 20px 0; /* Add padding to the footer */
  text-align: center;
  width: 100%; /* Ensure the footer spans the full width */
  margin-top: 20px; /* Add margin between content wrapper and footer */
}
