.user-header {
  width: 100%;
}

.top_header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #f8f8f8;
}

.user_profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_image1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_initials1 {
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

.search_box1 {
  display: flex;
  align-items: center;
}

.search_box1 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search_box1 .search_btn1 {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  margin-top: 17px;
}

.mid_header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.logo1 img {
  height: 50px;
  margin-left: -20%;
}

.nav1 ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav1 .link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
